In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv('renal.csv',sep= ',')
df.head()

,ID,center,age,sex,BMI,type2,duration,HTN,HLP,vascinc,...,days_dialysis,RRT,KTx,SCr_fup,days_SCr_fup,crea,SCr_diff,SCr_double,progression,days_progression
0,M003,1,56.065753,1,26.297578,1,1.0,0,0,0,...,1545,0,0,0.84,2204.0,0.87,-0.03,0.0,0.0,2204.0
1,M008,1,55.339726,1,33.208550,1,0.5,1,1,0,...,1506,0,0,1.00,2.0,0.98,0.02,0.0,0.0,2.0
2,M009,1,75.786301,0,27.688778,1,6.0,1,0,1,...,1539,0,0,0.82,1.0,0.81,0.01,0.0,0.0,1.0
3,M015,1,43.213699,0,NaN,1,1.0,0,0,0,...,2197,0,0,0.73,1981.0,0.83,-0.10,0.0,0.0,1981.0
4,M033,1,60.060274,0,26.927438,1,4.0,1,1,1,...,1696,0,0,0.94,1558.0,0.90,0.04,0.0,0.0,1558.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 42 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                249 non-null    object
 1   center            249 non-null    int64
 2   age               249 non-null    float64
 3   sex               249 non-null    int64
 4   BMI               246 non-null    float64
 5   type2             249 non-null    int64
 6   duration          240 non-null    float64
 7   HTN               249 non-null    int64
 8   HLP               249 non-null    int64
 9   vascinc           249 non-null    int64
 10  ACE               248 non-null    float64
 11  ARB               248 non-null    float64
 12  statin            248 non-null    float64
 13  hb                240 non-null    float64
 14  CRP               232 non-null    float64
 15  alb               235 non-null    float64
 16  HbA1c             238 non-null    float64
 17  ferritin          235 non-null    float64
 18  EPO               242 non-null    float64
 19  chol              230 non-null    float64
 20  LDL               228 non-null    float64
 21  HDL               229 non-null    float64
 22  hepcidin_ngml     249 non-null    float64
 23  GFR               184 non-null    float64
 24  protein           189 non-null    float64
 25  CKDEPI            248 non-null    float64
 26  MDRD              248 non-null    float64
 27  GFRc              248 non-null    float64
 28  GFRm              248 non-null    float64
 29  death             249 non-null    int64
 30  days_death        249 non-null    int64
 31  dialysis          249 non-null    int64
 32  days_dialysis     249 non-null    int64
 33  RRT               249 non-null    int64
 34  KTx               249 non-null    int64
 35  SCr_fup           212 non-null    float64
 36  days_SCr_fup      212 non-null    float64
 37  crea              248 non-null    float64
 38  SCr_diff          211 non-null    float64
 39  SCr_double        211 non-null    float64
 40  progression       246 non-null    float64
 41  days_progression  246 non-null    float64
dtypes: float64(29), int64(12), object(1)
memory usage: 81.8+ KB

## Data Cleaning

In [5]:
target = 'death'

### Replace empty or errors by np.nan

In [6]:
# replace empty/erros by np.nan
df = df.replace(r'^\s+$', np.nan, regex=True)
df = df.replace('\t','',regex=True)
df = df.replace(' ','',regex=True)
df = df.replace('\?',np.nan,regex=True)
df = df.replace('\<',np.nan,regex=True)
#df

### Remove outliers

In [7]:
# Drop the column `ID` as it is unrelated to the dependent variable
df = df.drop(['ID'],axis=1)
df.head()

,center,age,sex,BMI,type2,duration,HTN,HLP,vascinc,ACE,...,days_dialysis,RRT,KTx,SCr_fup,days_SCr_fup,crea,SCr_diff,SCr_double,progression,days_progression
0,1,56.065753,1,26.297578,1,1.0,0,0,0,0.0,...,1545,0,0,0.84,2204.0,0.87,-0.03,0.0,0.0,2204.0
1,1,55.339726,1,33.208550,1,0.5,1,1,0,1.0,...,1506,0,0,1.00,2.0,0.98,0.02,0.0,0.0,2.0
2,1,75.786301,0,27.688778,1,6.0,1,0,1,1.0,...,1539,0,0,0.82,1.0,0.81,0.01,0.0,0.0,1.0
3,1,43.213699,0,NaN,1,1.0,0,0,0,NaN,...,2197,0,0,0.73,1981.0,0.83,-0.10,0.0,0.0,1981.0
4,1,60.060274,0,26.927438,1,4.0,1,1,1,0.0,...,1696,0,0,0.94,1558.0,0.90,0.04,0.0,0.0,1558.0

### Remove bad columns

In [8]:
def remove_bad_columns(df,bad_column_threshold):
    # find bad columns having too many missing values
    n_null = np.array(df.isnull().sum(axis=0))
    bad_col = np.array([]).astype(int)
    for i in range(len(n_null)):
        if n_null[i] >= bad_column_threshold:
            bad_col = np.append(bad_col,i)

    #print(bad_col)
    print('number of bad columns:',len(bad_col))

    # delete bad columns
    df = df.drop(df.columns[bad_col],axis=1)
    #df.info()
    return df

In [9]:
df = remove_bad_columns(df,20)
df.info()

number of bad columns: 8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   center            249 non-null    int64
 1   age               249 non-null    float64
 2   sex               249 non-null    int64
 3   BMI               246 non-null    float64
 4   type2             249 non-null    int64
 5   duration          240 non-null    float64
 6   HTN               249 non-null    int64
 7   HLP               249 non-null    int64
 8   vascinc           249 non-null    int64
 9   ACE               248 non-null    float64
 10  ARB               248 non-null    float64
 11  statin            248 non-null    float64
 12  hb                240 non-null    float64
 13  CRP               232 non-null    float64
 14  alb               235 non-null    float64
 15  HbA1c             238 non-null    float64
 16  ferritin          235 non-null    float64
 17  EPO               242 non-null    float64
 18  chol              230 non-null    float64
 19  hepcidin_ngml     249 non-null    float64
 20  CKDEPI            248 non-null    float64
 21  MDRD              248 non-null    float64
 22  GFRc              248 non-null    float64
 23  GFRm              248 non-null    float64
 24  death             249 non-null    int64
 25  days_death        249 non-null    int64
 26  dialysis          249 non-null    int64
 27  days_dialysis     249 non-null    int64
 28  RRT               249 non-null    int64
 29  KTx               249 non-null    int64
 30  crea              248 non-null    float64
 31  progression       246 non-null    float64
 32  days_progression  246 non-null    float64
dtypes: float64(21), int64(12)
memory usage: 64.3 KB

### Remove bad rows

In [10]:
# Find rows where target is missing
def find_missing_target_rows(df,target):
    # find rows where target is missing
    missing_row = df[target].isnull()
    print('Number of rows where target are missing:')
    print(sum(missing_row))

    #df = df[~missing_row]
    missing_row_indices = np.array([t for t in range(df.shape[0]) if missing_row[t]])
    
    return missing_row_indices

In [11]:
missing_target_rows = find_missing_target_rows(df,target)

Number of rows where target are missing:
0

We find bad rows which contain too many missing values, then remove them.

In [12]:
def find_bad_rows(df,bad_row_threshold):   
    # find bad rows having too many missing values
    n_null = np.array(df.isnull().sum(axis=1))
    bad_row = np.array([]).astype(int)
    for t in range(len(n_null)):
        if n_null[t] >= bad_row_threshold:
            bad_row = np.append(bad_row,t)

    #print(bad_row)
    print('number of bad rows:',len(bad_row))

    # delete bad rows
    #df = df.drop(bad_row)
    #df.info()
    return bad_row

In [13]:
bad_rows = find_bad_rows(df,5)
df.info()

number of bad rows: 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   center            249 non-null    int64
 1   age               249 non-null    float64
 2   sex               249 non-null    int64
 3   BMI               246 non-null    float64
 4   type2             249 non-null    int64
 5   duration          240 non-null    float64
 6   HTN               249 non-null    int64
 7   HLP               249 non-null    int64
 8   vascinc           249 non-null    int64
 9   ACE               248 non-null    float64
 10  ARB               248 non-null    float64
 11  statin            248 non-null    float64
 12  hb                240 non-null    float64
 13  CRP               232 non-null    float64
 14  alb               235 non-null    float64
 15  HbA1c             238 non-null    float64
 16  ferritin          235 non-null    float64
 17  EPO               242 non-null    float64
 18  chol              230 non-null    float64
 19  hepcidin_ngml     249 non-null    float64
 20  CKDEPI            248 non-null    float64
 21  MDRD              248 non-null    float64
 22  GFRc              248 non-null    float64
 23  GFRm              248 non-null    float64
 24  death             249 non-null    int64
 25  days_death        249 non-null    int64
 26  dialysis          249 non-null    int64
 27  days_dialysis     249 non-null    int64
 28  RRT               249 non-null    int64
 29  KTx               249 non-null    int64
 30  crea              248 non-null    float64
 31  progression       246 non-null    float64
 32  days_progression  246 non-null    float64
dtypes: float64(21), int64(12)
memory usage: 64.3 KB

In [14]:
del_rows = np.union1d(missing_target_rows,bad_rows)
print('number of rows need to delete:',len(del_rows))

df = df.drop(del_rows)

number of rows need to delete: 5

### Separate target and attributes

In [15]:
dfx = df.drop(target,axis=1)
dfy = df[target]

### Find variable type

In [16]:
# number of uniques of each column (excluding NaN)
nu = np.array([len(pd.unique(dfx[col].dropna())) for col in dfx.columns])
print('number of uniques of each variable:')
print(nu)

number of uniques of each variable:
[  4 239   2 234   2  43   2   2   2   2   2   2  80 118 125  56 178 157
 125 126 244 244 190  99 217   2 212   4   2 113   2 220]

In [17]:
def define_variable_type(df,nu):
    i_binary = [] ; i_category = [] ; i_continuous = []
    for i in range(len(nu)):
        if nu[i] == 2: # binary 
            i_binary.append(i)
        elif nu[i] < 5: # !!!! NOTE: this is not always correct,
                        # it depends on data
            i_category.append(i)
        else:
            i_continuous.append(i)

    print('i_binary:',i_binary)
    print('i_category:',i_category)   
    #i_binary, i_category, i_continuous
    
    variable_type  = np.ones(len(nu))  # binary
    variable_type[i_category] = 2   # categorical
    variable_type[i_continuous] = 3 # continuous

    return variable_type #,i_binary,i_category,i_continuous

In [18]:
variable_type = define_variable_type(dfx,nu)
print('variable type:',variable_type)

i_binary: [2, 4, 6, 7, 8, 9, 10, 11, 25, 28, 30]
i_category: [0, 27]
variable type: [2. 3. 1. 3. 1. 3. 1. 1. 1. 1. 1. 1. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3.
 3. 1. 3. 2. 1. 3. 1. 3.]

### Replace missing values with column mean and column mode

In [19]:
def impute_missing(df,variable_type):
    # impute binary and categorical variables by the most frequency (in each column)
    # continuous variable by median
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = df[col].fillna(df[col].mode().iloc[0])
        else: # continuous
            #df2[col] = df[col].fillna(df[col].median())  
            df2[col] = df[col].fillna(df[col].mean())
    return df2

In [20]:
dfx_imputed = impute_missing(dfx,variable_type)
dfx_imputed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 248
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   center            244 non-null    int64
 1   age               244 non-null    float64
 2   sex               244 non-null    int64
 3   BMI               244 non-null    float64
 4   type2             244 non-null    int64
 5   duration          244 non-null    float64
 6   HTN               244 non-null    int64
 7   HLP               244 non-null    int64
 8   vascinc           244 non-null    int64
 9   ACE               244 non-null    float64
 10  ARB               244 non-null    float64
 11  statin            244 non-null    float64
 12  hb                244 non-null    float64
 13  CRP               244 non-null    float64
 14  alb               244 non-null    float64
 15  HbA1c             244 non-null    float64
 16  ferritin          244 non-null    float64
 17  EPO               244 non-null    float64
 18  chol              244 non-null    float64
 19  hepcidin_ngml     244 non-null    float64
 20  CKDEPI            244 non-null    float64
 21  MDRD              244 non-null    float64
 22  GFRc              244 non-null    float64
 23  GFRm              244 non-null    float64
 24  days_death        244 non-null    int64
 25  dialysis          244 non-null    int64
 26  days_dialysis     244 non-null    int64
 27  RRT               244 non-null    int64
 28  KTx               244 non-null    int64
 29  crea              244 non-null    float64
 30  progression       244 non-null    float64
 31  days_progression  244 non-null    float64
dtypes: float64(21), int64(11)
memory usage: 62.9 KB

## Data Processing

### Attributes

In [21]:
def convert_binary_and_category(x,variable_type):
    """
    convert binary to +-1, category to one hot; remain continuous.
    """    
    onehot_encoder = OneHotEncoder(sparse=False,categories='auto')

    # create 2 initial columns
    x_new = np.zeros((x.shape[0],2))

    for i,i_type in enumerate(variable_type):
        if i_type == 1: # binary
            unique_value = np.unique(x[:,i])
            x1 = np.array([-1. if value == unique_value[0] else 1. for value in x[:,i]])        
            x_new = np.hstack((x_new,x1[:,np.newaxis]))

        elif i_type == 2: # category
            x1 = onehot_encoder.fit_transform(x[:,i].reshape(-1,1))
            x_new = np.hstack((x_new,x1))
            
        else: # continuous      
            x_new = np.hstack((x_new,x[:,i][:,np.newaxis]))      

    # drop the 2 initial column
    x_new = x_new[:,2:]
    
    return x_new.astype(float)

In [22]:
# convert x
x = np.array(dfx_imputed)
x_new = convert_binary_and_category(x,variable_type)

print(x_new.shape)
#print(x_new)

(244, 38)

### Target

In [23]:
y = np.array(dfy)
#print(np.unique(y,return_counts=True))

# convert taget to 0 and 1
y_new = y
#y_new = np.ones(y.shape[0])
#y_new[y =='No'] = 0

print(np.unique(y_new,return_counts=True))

(array([0, 1]), array([197,  47]))

In [24]:
# combine X and y and save to a file
xy_new = np.hstack((x_new,y_new[:,np.newaxis]))
np.savetxt('renal_processed.dat',xy_new,fmt='%f')

## Impute missing values by k-NN

In [25]:
from sklearn.preprocessing import LabelEncoder
from scipy.spatial.distance import cdist
from scipy.stats import mode

In [26]:
def binary_category_to_integers(df,variable_type):
    # convert binary and categorical variables to integers
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    LE = LabelEncoder()
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = LE.fit_transform(df[col])   
    return df2

In [27]:
def impute_missing_knn(x,variable_type,i_missed,j_missed,k_nn):
    # impute missing values by using k-NN
    # x: 2D numpy array
    # variable_type: 1D list,
    # = 1 for binary, 2 for category, 3 for numeric

    i_numeric = np.argwhere(variable_type > 2).flatten()
    i_nonnumeric = np.argwhere(variable_type <= 2).flatten()

    # distance between numeric features
    x1 = x[:,i_numeric]
    
    # standard scaler
    x1 = (x1 - x1.mean(axis=0))/x1.std(axis=0)

    d1 = cdist(x1,x1,metric='euclidean')

    # distance between binary/category features
    x2 = x[:, i_nonnumeric]
    d2 = cdist(x2,x2,metric='hamming')

    # total distance, d1 is non-normalized while d2 is normalized
    d = d1 + len(i_nonnumeric)*d2 

    np.fill_diagonal(d,np.nan)
    i_nn = np.argsort(d,axis=1)[:,:k_nn]

    # impute missing values with k-NN
    x_imputed = x.copy()
    for ii in range(len(i_missed)):
        i,j = i_missed[ii],j_missed[ii]
        #print(i,j)

        #print('i=',i,', j=',j , ', xij=', x[i,j])
        #print('i_nn=',i_nn[i,0:k_nn],'x_inn=',x[i_nn[i,0:k_nn],j])

        if j in i_numeric:
            x_imputed[i,j] = x[i_nn[i,0:k_nn],j].mean()
           
        else: # category
            value_count = mode(x[i_nn[i,0:k_nn],j])

            if value_count[1][0] > 1: # count > 1
                x_imputed[i,j] = value_count[0][0] # most frequent
                
            else:
                x_imputed[i,j] = x[i_nn[i,0],j] # closest row
               
    return x_imputed

In [28]:
dfx2_imputed = binary_category_to_integers(dfx_imputed,variable_type)

# position of missing values
i_missed,j_missed = np.where(dfx.isna())

In [29]:
k_nn = 5
x_knn = impute_missing_knn(np.array(dfx2_imputed),variable_type,
                           i_missed,j_missed,k_nn)

# convert binary to +-1, category to onehot
x_knn_new = convert_binary_and_category(x_knn,variable_type)

# combine X and y and save to a file
xy_knn = np.hstack((x_knn_new,y_new[:,np.newaxis]))
np.savetxt('renal_processed_knn%s.dat'%(k_nn),xy_knn,fmt='%f')