### Impute missing values and convert binary to +-1, category to one-hot

import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
np.random.seed(1)

In [3]:
df = pd.read_csv("data_cleaned.csv")
df.head()

,1.Gen,2.Sym,3.Alc,4.HepB,7.HepC,8.Cir,11.Dia,12.Obe,14.Art,15.CRen,...,36.Alb,37.Bil,38.Ala,39.Aspa,40.Gam,41.Alk,42.Prot,43.Crea,44.NNod,Class
0,1,0.0,1,0.0,0.0,1,1.0,NaN,0.0,0.0,...,3.4,2.1,34.0,41,183.0,150.0,7.1,0.70,1.0,1
1,1,0.0,1,1.0,0.0,1,0.0,0.0,1.0,1.0,...,3.3,0.4,58.0,68,202.0,109.0,7.0,2.10,5.0,1
2,1,1.0,1,0.0,0.0,1,1.0,0.0,1.0,0.0,...,3.7,0.4,16.0,64,94.0,174.0,8.1,1.11,2.0,0
3,1,1.0,1,1.0,0.0,1,0.0,0.0,1.0,1.0,...,4.1,0.7,147.0,306,173.0,109.0,6.9,1.80,1.0,1
4,1,0.0,1,0.0,0.0,1,0.0,1.0,0.0,0.0,...,3.4,3.5,91.0,122,242.0,396.0,5.6,0.90,1.0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1.Gen         162 non-null    int64
 1   2.Sym         145 non-null    float64
 2   3.Alc         162 non-null    int64
 3   4.HepB        145 non-null    float64
 4   7.HepC        153 non-null    float64
 5   8.Cir         162 non-null    int64
 6   11.Dia        159 non-null    float64
 7   12.Obe        152 non-null    float64
 8   14.Art        159 non-null    float64
 9   15.CRen       160 non-null    float64
 10  16.HIV        148 non-null    float64
 11  19.Spl        147 non-null    float64
 12  20.PHyp       151 non-null    float64
 13  21.Thr        160 non-null    float64
 14  22.LMet       159 non-null    float64
 15  23.Rad        161 non-null    float64
 16  24.Agedia     162 non-null    int64
 17  27.Sta        162 non-null    int64
 18  28.Encdeg     161 non-null    float64
 19  29.Ascdeg     160 non-null    float64
 20  30.IntNorRat  161 non-null    float64
 21  31.Alp        156 non-null    float64
 22  32.Hae        162 non-null    float64
 23  33.MCorVol    162 non-null    float64
 24  34.Leu        162 non-null    float64
 25  35.Plat       162 non-null    float64
 26  36.Alb        159 non-null    float64
 27  37.Bil        160 non-null    float64
 28  38.Ala        161 non-null    float64
 29  39.Aspa       162 non-null    int64
 30  40.Gam        162 non-null    float64
 31  41.Alk        162 non-null    float64
 32  42.Prot       154 non-null    float64
 33  43.Crea       158 non-null    float64
 34  44.NNod       161 non-null    float64
 35  Class         162 non-null    int64
dtypes: float64(29), int64(7)
memory usage: 45.7 KB

### Find variable type

In [5]:
## separte features and target:
target = df.columns[-1]
print(target)

dfx = df.drop(target,axis=1)
dfy = df[target]

Class

In [6]:
# number of uniques of each column (excluding NaN)
nu = np.array([len(pd.unique(dfx[col].dropna())) for col in dfx.columns])
print('number of uniques of each variable:')
print(nu)

number of uniques of each variable:
[  2   2   2   2   2   2   2   2   2   2   2   2   2   2   2   2  50   5
   3   3  87 131  71 128 105 131  41  62  93 107 139 124  46  84   6]

In [7]:
def define_variable_type(df,nu):
    i_binary = [] ; i_category = [] ; i_continuous = []
    for i in range(len(nu)):
        if nu[i] == 2: # binary 
            i_binary.append(i)
        elif nu[i] < 5: # !!!! NOTE: this is not always correct, depending on data
            i_category.append(i)
        else:
            i_continuous.append(i)

    print('i_binary:',i_binary)
    print('i_category:',i_category)   
    #i_binary, i_category, i_continuous
    
    variable_type  = np.ones(len(nu))  # binary
    variable_type[i_category] = 2   # categorical
    variable_type[i_continuous] = 3 # continuous

    return variable_type #,i_binary,i_category,i_continuous

In [8]:
variable_type = define_variable_type(dfx,nu)
print('variable type:',variable_type)

i_binary: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
i_category: [18, 19]
variable type: [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 3. 3. 2. 2. 3. 3. 3. 3.
 3. 3. 3. 3. 3. 3. 3. 3. 3. 3. 3.]

### Replace missing values with column mean and column mode

In [9]:
def impute_missing_mean(df,variable_type):
    # impute binary and categorical variables by the most frequency (in each column)
    # continuous variable by median
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or caterogy
            df2[col] = df[col].fillna(df[col].mode().iloc[0])
        else: # continuous
            # 2020.07.14: convert str to float
            if type(np.array(df[col])[0]) == str:
                df[col] = pd.to_numeric(df[col],errors='coerce')
            
            #df2[col] = df[col].fillna(df[col].median())
            df2[col] = df[col].fillna(df[col].mean())
    return df2

In [10]:
dfx_imputed = impute_missing_mean(dfx,variable_type)
dfx_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1.Gen         162 non-null    int64
 1   2.Sym         162 non-null    float64
 2   3.Alc         162 non-null    int64
 3   4.HepB        162 non-null    float64
 4   7.HepC        162 non-null    float64
 5   8.Cir         162 non-null    int64
 6   11.Dia        162 non-null    float64
 7   12.Obe        162 non-null    float64
 8   14.Art        162 non-null    float64
 9   15.CRen       162 non-null    float64
 10  16.HIV        162 non-null    float64
 11  19.Spl        162 non-null    float64
 12  20.PHyp       162 non-null    float64
 13  21.Thr        162 non-null    float64
 14  22.LMet       162 non-null    float64
 15  23.Rad        162 non-null    float64
 16  24.Agedia     162 non-null    int64
 17  27.Sta        162 non-null    int64
 18  28.Encdeg     162 non-null    float64
 19  29.Ascdeg     162 non-null    float64
 20  30.IntNorRat  162 non-null    float64
 21  31.Alp        162 non-null    float64
 22  32.Hae        162 non-null    float64
 23  33.MCorVol    162 non-null    float64
 24  34.Leu        162 non-null    float64
 25  35.Plat       162 non-null    float64
 26  36.Alb        162 non-null    float64
 27  37.Bil        162 non-null    float64
 28  38.Ala        162 non-null    float64
 29  39.Aspa       162 non-null    int64
 30  40.Gam        162 non-null    float64
 31  41.Alk        162 non-null    float64
 32  42.Prot       162 non-null    float64
 33  43.Crea       162 non-null    float64
 34  44.NNod       162 non-null    float64
dtypes: float64(29), int64(6)
memory usage: 44.4 KB

## Data Processing

### Attributes

In [11]:
def convert_binary_and_category(x,variable_type):
    """
    convert binary to +-1, category to one hot; remain continuous.
    """    
    onehot_encoder = OneHotEncoder(sparse=False,categories='auto')

    # create 2 initial columns
    x_new = np.zeros((x.shape[0],2))

    for i,i_type in enumerate(variable_type):
        if i_type == 1: # binary
            unique_value = np.unique(x[:,i])
            x1 = np.array([-1. if value == unique_value[0] else 1. for value in x[:,i]])        
            x_new = np.hstack((x_new,x1[:,np.newaxis]))

        elif i_type == 2: # category
            x1 = onehot_encoder.fit_transform(x[:,i].reshape(-1,1))
            x_new = np.hstack((x_new,x1))
            
        else: # continuous      
            x_new = np.hstack((x_new,x[:,i][:,np.newaxis]))      

    # drop the 2 initial column
    x_new = x_new[:,2:]
    
    return x_new.astype(float)

In [12]:
# convert x
x = np.array(dfx_imputed)
x_new = convert_binary_and_category(x,variable_type)

print(x_new.shape)
print(x_new)

(162, 39)
[[ 1.   -1.    1.   ...  7.1   0.7   1.  ]
 [ 1.   -1.    1.   ...  7.    2.1   5.  ]
 [ 1.    1.    1.   ...  8.1   1.11  2.  ]
 ...
 [ 1.   -1.    1.   ...  7.5   1.46  5.  ]
 [ 1.   -1.    1.   ...  8.4   0.74  5.  ]
 [ 1.    1.    1.   ...  6.6   3.95  5.  ]]

### Target

In [13]:
y = np.array(dfy)
#print(np.unique(y,return_counts=True))

# convert taget to 0 and 1
y_new = y
#y_new = np.ones(y.shape[0])
#y_new[y =='No'] = 0

print(np.unique(y_new,return_counts=True))

(array([0, 1]), array([63, 99]))

In [14]:
# combine X and y and save to a file
xy_new = np.hstack((x_new,y_new[:,np.newaxis]))
np.savetxt('data_processed_mean.dat',xy_new,fmt='%f')

## Impute missing values by k-NN

In [15]:
from sklearn.preprocessing import LabelEncoder
from scipy.spatial.distance import cdist
from scipy.stats import mode

In [16]:
def binary_category_to_integers(df,variable_type):
    # convert binary and categorical variables to integers
    # input: df: pandas data frame, variable_type: list
    # output: df2: pandas data frame
    LE = LabelEncoder()
    df2 = df.copy()
    for i,col in enumerate(df.columns):
        if variable_type[i] < 3: # binary or category
            df2[col] = LE.fit_transform(df[col])   
    return df2

In [17]:
def impute_missing_knn(x,variable_type,i_missed,j_missed,k_nn):
    # impute missing values by using k-NN
    # x: 2D numpy array
    # variable_type: 1D list,
    # = 1 for binary, 2 for category, 3 for numeric

    i_numeric = np.argwhere(variable_type > 2).flatten()
    i_nonnumeric = np.argwhere(variable_type <= 2).flatten()

    # distance between numeric features
    x1 = x[:,i_numeric]
    
    # standard scaler
    x1 = (x1 - x1.mean(axis=0))/x1.std(axis=0)

    d1 = cdist(x1,x1,metric='euclidean')

    # distance between binary/category features
    x2 = x[:, i_nonnumeric]
    d2 = cdist(x2,x2,metric='hamming')

    # total distance, d1 is non-normalized while d2 is normalized
    d = d1 + len(i_nonnumeric)*d2 

    np.fill_diagonal(d,np.nan)
    i_nn = np.argsort(d,axis=1)[:,:k_nn]

    # impute missing values with k-NN
    x_imputed = x.copy()
    for ii in range(len(i_missed)):
        i,j = i_missed[ii],j_missed[ii]
        #print(i,j)

        #print('i=',i,', j=',j , ', xij=', x[i,j])
        #print('i_nn=',i_nn[i,0:k_nn],'x_inn=',x[i_nn[i,0:k_nn],j])

        if j in i_numeric:
            x_imputed[i,j] = x[i_nn[i,0:k_nn],j].mean()
           
        else: # category
            value_count = mode(x[i_nn[i,0:k_nn],j])

            if value_count[1][0] > 1: # count > 1
                x_imputed[i,j] = value_count[0][0] # most frequent
                
            else:
                x_imputed[i,j] = x[i_nn[i,0],j] # closest row
               
    return x_imputed

In [18]:
dfx2_imputed = binary_category_to_integers(dfx_imputed,variable_type)

# position of missing values
i_missed,j_missed = np.where(dfx.isna())

In [19]:
k_nn_list = [2,3,4,5,6,7,8,9,10,int(round(np.sqrt(dfx2_imputed.shape[0])))]
k_nn_name = [2,3,4,5,6,7,8,9,10,'_sqrt']

for ik,k_nn in enumerate(k_nn_list):
    x_knn = impute_missing_knn(np.array(dfx2_imputed),variable_type,
                           i_missed,j_missed,k_nn)

    # convert binary to +-1, category to onehot
    x_knn_new = convert_binary_and_category(x_knn,variable_type)

    # combine X and y and save to a file
    xy_knn = np.hstack((x_knn_new,y_new[:,np.newaxis]))
    np.savetxt('data_processed_knn%s.dat'%(k_nn_name[ik]),xy_knn,fmt='%f')